{% extends "base.html" %}

{% block title %}
  Task types
{% endblock %}

{% block content %}
  <h1>Task types</h1>

  {% if perms.tasks.add_tasktype %}
    <a href="{% url 'references:task-type-create' %}">
      Create
    </a>
  {% endif %}

  {% for task_type in task_types %}
    <div>
      <p>{{ task_type.name }}</p>
      <p>Tasks: {{ task_type.task_count }}</p>

      {% if perms.tasks.change_tasktype %}
        <a href="{% url 'references:task-type-update' task_type.id %}">
          Update
        </a>
      {% endif %}

      {% if perms.tasks.delete_tasktype %}
        <a href="{% url 'references:task-type-delete' task_type.id %}">
          Delete
        </a>
      {% endif %}
    </div>
  {% empty %}
    <p>No task types found.</p>
  {% endfor %}
{% endblock %}
