<aside
    class="navbar navbar-vertical navbar-expand-lg"
    data-bs-theme="dark"
>
  <div class="container-fluid">

    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebar-menu"
        aria-controls="sidebar-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand navbar-brand-autodark">
      <a href="{% url 'dashboard' %}" class="text-decoration-none">
        IT Task Manager
      </a>
    </div>

    {% if user.is_authenticated %}

      <div class="navbar-nav flex-row d-lg-none">
        <div class="nav-item">
          <span class="nav-link">
            {{ user.get_username }}
          </span>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="sidebar-menu">

        <ul class="navbar-nav pt-lg-3">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <span class="nav-link-title">
                Dashboard
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:my-task-list' %}">
              <span class="nav-link-title">
                My tasks
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'tasks:task-list' %}">
              <span class="nav-link-title">
                All tasks
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'workers:worker-list' %}">
              <span class="nav-link-title">
                Workers
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'references:task-type-list' %}">
              <span class="nav-link-title">
                Task types
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'references:position-list' %}">
              <span class="nav-link-title">
                Positions
              </span>
            </a>
          </li>

        </ul>

        <div class="mt-auto p-3">

          <div class="text-secondary mb-2">
            Signed in as
          </div>

          <div class="fw-bold mb-3">
            {{ user.get_username }}
          </div>

          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-outline-light w-100"
            >
              Logout
            </button>
          </form>

        </div>

      </div>

    {% endif %}

  </div>
</aside>