{% extends "base.html" %}

{% block title %}
  Workers
{% endblock %}

{% block content %}

<div class="page-header d-print-none mb-4">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        Team
      </div>

      <h2 class="page-title">
        Workers
      </h2>
    </div>
  </div>
</div>


<div class="card">

  <div class="table-responsive">

    <table class="table table-vcenter card-table">

      <thead>
        <tr>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Position</th>
          <th>Tasks</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {% for worker in workers %}
          <tr>

            <td>
              <strong>
                {{ worker.username }}
              </strong>
            </td>

            <td>
              {{ worker.first_name|default:"Not specified" }}
            </td>

            <td>
              {{ worker.last_name|default:"Not specified" }}
            </td>

            <td>
              {{ worker.position|default:"Not specified" }}
            </td>

            <td>
              <span class="badge bg-blue-lt">
                {{ worker.task_count }}
              </span>
            </td>

            <td class="text-end">
              <a
                  href="{% url 'workers:worker-detail' worker.id %}"
                  class="btn btn-outline-primary btn-sm"
              >
                Details
              </a>
            </td>

          </tr>

        {% empty %}
          <tr>
            <td
                colspan="6"
                class="text-center text-secondary"
            >
              No workers found.
            </td>
          </tr>
        {% endfor %}

      </tbody>

    </table>

  </div>

</div>

{% endblock %}
