{% extends "base.html" %}

{% block title %}
  Positions
{% endblock %}

{% block content %}
  <h1>Positions</h1>

  <p>
    <a href="{% url 'references:position-create' %}">
      Create position
    </a>
  </p>

  <ul>
    {% for position in positions %}
      <li>
        <h3>{{ position.name }}</h3>

        <p>Count of workers: {{ position.worker_count }}</p>

        <a href="{% url 'references:position-update' position.id %}">
          Update
        </a>

        <a href="{% url 'references:position-delete' position.id %}">
          Delete
        </a>
      </li>
    {% empty %}
      <li>No positions found.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'references:position-create' %}">
    Create position
  </a>
{% endblock %}