{% extends "base.html" %}

{% block title %}
  {% if object %}
    Update position
  {% else %}
    Create position
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Update position
    {% else %}
      Create position
    {% endif %}
  </h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">
      Save
    </button>
  </form>

  <p>
    <a href="{% url 'references:position-list' %}">
      Cancel
    </a>
  </p>
{% endblock %}