{% extends "base.html" %}

{% block title %}
  Positions
{% endblock %}

{% block content %}
  <h1>Positions</h1>

  {% if perms.tasks.add_position %}
    <a href="{% url 'references:position-create' %}">
      Create
    </a>
  {% endif %}

  {% for position in positions %}
    <div>
      <p>{{ position.name }}</p>
      <p>Workers: {{ position.worker_count }}</p>

      {% if perms.tasks.change_position %}
        <a href="{% url 'references:position-update' position.id %}">
          Update
        </a>
      {% endif %}

      {% if perms.tasks.delete_position %}
        <a href="{% url 'references:position-delete' position.id %}">
          Delete
        </a>
      {% endif %}
    </div>
  {% empty %}
    <p>No positions found.</p>
  {% endfor %}
{% endblock %}