{% extends "base.html" %}

{% block content %}
<h1>Task List</h1>
<form method="get">
  {{ search_form.as_p }}

  <button type="submit">
    Search
  </button>

  <a href="{% url 'tasks:task-list' %}">
    Reset
  </a>
</form>
{% for task in tasks %}
  <div>
    <h2><a href="{% url 'tasks:task-detail' task.id %}">{{ task.name }}</a></h2>

    <p>Type: {{ task.task_type }}</p>
    <p>Priority: {{ task.get_priority_display }}</p>
    <p>Deadline: {{ task.deadline }}</p>

    {% if task.is_completed %}
      <p>Status: Completed</p>
    {% else %}
      <p>Status: Active</p>
    {% endif %}

    <p>Assignees:</p>

    <ul>
      {% for worker in task.assignees.all %}
        <li>{{ worker.username }}</li>
      {% empty %}
        <li>No assignees assigned</li>
      {% endfor %}
    </ul>
  </div>
{% empty %}
  <p>No tasks found.</p>
{% endfor %}
  {% if perms.tasks.add_task %}
    <p>
      <a href="{% url 'tasks:task-create' %}">Create task</a>
    </p>
  {% endif %}
{% endblock %}